@charset "UTF-8";
/*Fuentes*/
/*Colores*/
/* Imagenes */
/* Index */
/* Seccion 1*/
/* Seccion 2*/
/* Seccion 3*/
/* Seccion 4*/
.presentation {
  margin: 0 auto 2.5em auto;
  width: 96vw;
  padding: 40px 0 40px;
  border-bottom: 1px solid #fff;
}

.info {
  max-width: 1200px;
  margin: 0 auto;
  white-space: nowrap;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 50% 50% 1fr;
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "brick-1 brick-2";
}

.info div {
  display: inline-block;
}

.descripcion {
  position: relative;
  grid-area: brick-1;
  padding: 0 3em 0 3em;
  border-right: 1px solid #fff;
}

.descripcion p {
  color: White;
  margin-top: 15px;
  white-space: normal;
}

.info-derecha {
  position: relative;
  grid-area: brick-2;
  padding-left: 3em;
}
.info-derecha ul {
  padding: 0;
  color: White;
}

.skills {
  list-style: none;
}

/* -------- Section-a -------- */
.section-a {
  position: relative;
  max-width: 1500px;
  display: grid;
  color: White;
  margin: 0 auto;
  grid-gap: 0.2rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 400px);
  grid-template-areas: "sa-1 sa-2" "sa-3 sa-4" "sa-5 sa-6" "sa-7 sa-7";
}
.section-a h1 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 2px White;
}

/* -------- Seccion-a -------- */
.sa-info-box {
  background-color: #000000c5;
  width: 95%;
  height: 69%;
  margin: 0 auto;
  margin-top: 13px;
  padding-top: 100px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.sa-info-box a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sa-info-box:hover {
  opacity: 1;
  width: 100%;
  height: 75%;
  margin-top: 0;
  transition: 0.3s;
}

.sa-info {
  width: 35%;
  height: 67%;
  margin: 0 auto;
}
.sa-info p {
  text-align: left;
}

.sa-1 {
  position: relative;
  grid-area: sa-1;
  background-image: url(../images/recuadros/vikingo.jpg);
  background-size: cover;
}

.sa-2 {
  position: relative;
  grid-area: sa-2;
  background-image: url(../images/recuadros/ragnar.jpg);
  background-size: cover;
}

.sa-3 {
  position: relative;
  grid-area: sa-3;
  background-image: url(../images/recuadros/recuadro.jpg);
  background-size: cover;
}

.sa-4 {
  position: relative;
  grid-area: sa-4;
  background-image: url(../images/recuadros/recuadro.jpg);
  background-size: cover;
}

.sa-5 {
  position: relative;
  grid-area: sa-5;
  background-image: url(../images/recuadros/recuadro.jpg);
  background-size: cover;
}

.sa-6 {
  position: relative;
  grid-area: sa-6;
  background-image: url(../images/recuadros/recuadro.jpg);
  background-size: cover;
}

.sa-7 {
  position: relative;
  grid-area: sa-7;
  background-image: url(../images/recuadros/recuadro.jpg);
  background-size: cover;
}

.sb-1 {
  position: relative;
  grid-area: sa-1;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-2 {
  position: relative;
  grid-area: sa-2;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-3 {
  position: relative;
  grid-area: sa-3;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-4 {
  position: relative;
  grid-area: sa-4;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-5 {
  position: relative;
  grid-area: sa-5;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-6 {
  position: relative;
  grid-area: sa-6;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sb-7 {
  position: relative;
  grid-area: sa-7;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

/* -------- Section-b -------- */
.section-c {
  position: relative;
  max-width: 1500px;
  display: grid;
  color: White;
  margin: 0 auto;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 400px);
  grid-template-areas: "sa-1 sa-2 sa-3" "sa-4 sa-5 sa-6" "sa-7 sa-8 sa-9";
}
.section-c h1 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 2px #fff;
}
.section-c div a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 0;
}

/* -------- Seccion-a -------- */
.sc-info-box {
  background-color: #000000c5;
  width: 95%;
  height: 69%;
  margin: 0 auto;
  margin-top: 13px;
  padding-top: 100px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.sc-info-box:hover {
  opacity: 1;
  width: 100%;
  height: 75%;
  margin-top: 0;
  transition: 0.3s;
}

.sc-info {
  width: 35%;
  height: 67%;
  margin: 0 auto;
}
.sc-info p {
  text-align: justify;
}

.sc-1 {
  position: relative;
  grid-area: sa-1;
  background-image: url(../images/recuadros/web-peru.jpg);
  background-size: cover;
}

.sc-2 {
  position: relative;
  grid-area: sa-2;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-3 {
  position: relative;
  grid-area: sa-3;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-4 {
  position: relative;
  grid-area: sa-4;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-5 {
  position: relative;
  grid-area: sa-5;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-6 {
  position: relative;
  grid-area: sa-6;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-7 {
  position: relative;
  grid-area: sa-7;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-8 {
  position: relative;
  grid-area: sa-8;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

.sc-9 {
  position: relative;
  grid-area: sa-9;
  background-image: url(../images/recuadros/working.jpg);
  background-size: cover;
}

/* -------- Section-c -------- */
.section-d {
  position: relative;
  max-width: 1500px;
  display: grid;
  color: White;
  margin: 0 auto;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 300px;
  grid-template-areas: "sa-1 sa-2 sa-3 sa-4 sa-5 sa-6";
}
.section-d h1 {
  margin: 0 auto;
  margin-top: 60px;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: solid 2px #fff;
}

.text-center {
  text-align: center;
}

.sd-info-box {
  background-color: #000;
  width: 95%;
  height: 68%;
  margin: 0 auto;
  margin-top: 8px;
  padding-top: 28px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.sd-info-box:hover {
  opacity: 1;
  width: 100%;
  height: 75%;
  margin-top: 0;
  transition: 0.3s;
}

.sd-info {
  width: 35%;
  height: 67%;
  margin: 0 auto;
}

.sd-1 {
  position: relative;
  grid-area: sa-1;
  background-image: url(../images/recuadros/carden.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sd-2 {
  position: relative;
  grid-area: sa-2;
  background-image: url(../images/recuadros/working.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sd-3 {
  position: relative;
  grid-area: sa-3;
  background-image: url(../images/recuadros/working.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sd-4 {
  position: relative;
  grid-area: sa-4;
  background-image: url(../images/recuadros/working.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sd-5 {
  position: relative;
  grid-area: sa-5;
  background-image: url(../images/recuadros/working.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sd-6 {
  position: relative;
  grid-area: sa-6;
  background-image: url(../images/recuadros/working.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

@font-face {
  font-family: "keep-calm";
  src: url("../fonts/KeepCalm-Medium.ttf");
}
@font-face {
  font-family: "gotham-light";
  src: url("../fonts/Gotham-Light.otf");
}
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/GothamMedium.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: White;
}

.txt-center {
  text-align: center;
}

.txt-size {
  font-family: "gotham-light";
  color: gray;
}

.txt-size.min {
  font-size: 14px;
  line-height: 1.6;
}

.txt-size.ch {
  font-size: 21px;
  line-height: 2;
  letter-spacing: 2px;
}

.txt-size.med {
  font-size: 28px;
}

.txt-size.ch.bold {
  font-family: "gotham-medium";
  font-size: 26px;
}

.txt-size.gde {
  font-family: "keep-calm";
  font-size: 25px;
  color: White;
}

a {
  text-decoration: none;
  color: White;
}

/* -------- Header -------- */
header {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  position: relative;
}
header .special {
  background-image: none;
  background-size: none;
}

.menu {
  color: White;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  bottom: 0;
  font-size: 14px;
}
.menu div {
  background-color: crimson;
  padding: 10px;
  transition: 0.4s;
  cursor: pointer;
}
.menu div:hover {
  background-color: #00395a;
  color: White;
  transition: 0.4s;
}

/* -------- Header -------- */
/* -------- Grid -------- */
.wall {
  position: relative;
  text-align: center;
  color: White;
  margin: 0 auto 50px auto;
  max-width: 1500px;
  min-height: 140vh;
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 40% 60% 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "brick-1 brick-4 brick-4" "brick-2 brick-4 brick-4" "brick-3 brick-5 brick-5" "brick-6 brick-6 brick-6";
}

/* -------- Grid -------- */
/* -------- Párrafos a la derecha -------- */
.p-right span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
.p-right span::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: White;
  right: 0;
  bottom: -10px;
}
.p-right p {
  position: absolute;
  font-size: 14px;
  max-width: 80%;
  text-align: right;
  top: 100px;
  right: 20px;
}

/* -------- Párrafos a la derecha -------- */
/* -------- Párrafos a la izquierda -------- */
.p-left span {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}

.p-left span::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: White;
  left: 5px;
  bottom: -10px;
}

.p-left p {
  position: absolute;
  font-size: 14px;
  max-width: 80%;
  text-align: left;
  top: 65px;
  left: 20px;
}

/* -------- Párrafos a la izquierda -------- */
/* -------- Botones -------- */
.bot-right {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: crimson;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: White;
  transition: 0.3s;
}

.bot-right:hover {
  background-color: #7e0a21;
  transition: 0.3s;
  padding: 5px 10px 5px 50px;
}

.bot-left {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: crimson;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: White;
  transition: 0.3s;
}

.bot-left:hover, .bot-top:hover {
  background-color: #7e0a21;
  transition: 0.3s;
  padding: 5px 50px 5px 10px;
}

.bot-top {
  position: absolute;
  left: 20px;
  top: 120px;
  background-color: crimson;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: White;
  transition: 0.3s;
}

/* -------- Botones -------- */
.brick-1 {
  position: relative;
  grid-area: brick-1;
  background-image: url(../images/recuadros/login-sis.jpg);
  background-size: cover;
}
.brick-1 div {
  text-align: right;
  position: absolute;
  background-color: #0000009d;
  width: 50%;
  height: 100%;
  right: 0;
  transition: 0.3s;
}

.brick-2 {
  grid-area: brick-2;
  position: relative;
  background-image: url(../images/recuadros/universidad-sd.jpg);
  background-size: cover;
}
.brick-2 div {
  text-align: right;
  position: absolute;
  background-color: #0000009d;
  width: 50%;
  height: 100%;
  right: 0;
  transition: 0.3s;
}

.brick-3 {
  grid-area: brick-3;
  position: relative;
  background-image: url(../images/recuadros/siu-web.jpg);
  background-size: cover;
}
.brick-3 div {
  position: absolute;
  background-color: #0000009d;
  width: 40%;
  height: 100%;
  left: 0;
  transition: 0.3s;
}

.brick-4 {
  grid-area: brick-4;
  position: relative;
  background-image: url(../images/recuadros/rediseño-sis.jpg);
  background-size: cover;
}
.brick-4 div {
  position: absolute;
  background-color: #0000009d;
  width: 100%;
  height: 170px;
  top: 0;
  transition: 0.3s;
}

.brick-5 {
  grid-area: brick-5;
  position: relative;
  background-image: url(../images/recuadros/tablero-cem.jpg);
  background-size: cover;
}
.brick-5 div {
  position: absolute;
  background-color: #0000009d;
  width: 270px;
  height: 100%;
  left: 0;
  transition: 0.3s;
}

.brick-6 {
  grid-area: brick-6;
  position: relative;
  background-image: url(../images/recuadros/medterial.jpg);
  background-size: cover;
}
.brick-6 div {
  position: absolute;
  background-color: #0000009d;
  width: 40%;
  height: 100%;
  left: 0;
  transition: 0.3s;
}

.brick-1 div:hover, .brick-2 div:hover,
.brick-3 div:hover, .brick-4 div:hover,
.brick-5 div:hover {
  background-color: rgba(0, 21, 34, 0.692);
  transition: 0.3s;
}

.media li {
  display: inline-block;
  font-size: 20px;
  padding: 0 30px 0 10px;
}
.media li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: 0.5s;
}
.media li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: White;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.media li a:hover {
  color: White;
  box-shadow: 0 0 5px White;
  text-shadow: 0 0 5px White;
}
.media li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px White;
}

/* -------- Media Mobile -------- */
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0.1em;
  }

  .menu div {
    padding: 20px;
  }

  .wall {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas: "brick-1" "brick-2" "brick-3" "brick-4" "brick-5" "brick-6";
  }

  .wall > div > div {
    width: 40vw;
  }

  .brick-4 div {
    height: 100%;
    left: 0;
  }

  .bot-top {
    top: 255px;
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .bot-left {
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .bot-right {
    font-size: 24px;
    padding: 6px 10px 6px 10px;
  }

  .p-right span {
    font-size: 16px;
  }
  .p-right p {
    top: 75px;
    font-size: 12px;
  }

  .p-left span {
    font-size: 16px;
  }

  .media li {
    font-size: 14px;
    padding: 0 0 0 10px;
  }
  .media li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}
/* -------- Media Small Screen -------- */
@media (max-width: 664px) {
  header {
    margin: 0;
  }

  .presentation {
    width: 100vw;
  }

  .wall > div > div {
    width: 50vw;
  }

  .brick-4 div {
    height: 100%;
    left: 0;
  }

  .bot-top {
    top: 155px;
  }

  .info {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 100% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "brick-1" "brick-2";
  }
  .info .descripcion {
    border-right: none;
  }

  .section-a {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5" "sa-6" "sa-7";
  }

  .section-c {
    grid-template-columns: 100%;
    grid-template-rows: repeat(9, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5" "sa-6" "sa-7" "sa-8" "sa-9";
  }

  .section-d {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "sa-1" "sa-2" "sa-3" "sa-4" "sa-5" "sa-6";
  }
}
/* -------- Media Small Screen -------- */
/* -------- Blog Body -------- */
h1, p {
  margin: 0;
}

.titular {
  padding: 120px 0 90px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.cover {
  margin: 0 auto;
  max-width: 1200px;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  padding: 15px 0 30px 0;
}

.cover-pic {
  margin: 30px 0 30px 0;
  width: 100%;
  height: 550px;
  background-image: url(../images/blog/181203-arquetipos-marca-cabecera.png);
  background-size: cover;
}

.blog-a {
  top: 30px;
  margin: 0 auto;
  max-width: 1200px;
  grid-gap: 0.2rem;
  padding: 15px 0 90px 0;
}

.blog-text {
  padding: 140px 0 140px 0;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.blog {
  width: 100%;
  height: 700px;
  background-size: cover;
}

.arquetipos p {
  border-bottom: 3px solid gray;
  padding: 80px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}

.blog.cover1 {
  background-image: url(../images/blog/Rolex-Submariner-5513-5982.jpg);
}

.blog.cover2 {
  background-image: url(../images/blog/al04-1024x897.jpg);
}

.blog.cover3 {
  background-image: url(../images/blog/diesel-deisel-cover-nssmag.png);
}

.blog.cover4 {
  background-image: url(../images/blog/danone-9d86ea5456.jpg);
}

.blog.cover5 {
  background-image: url(../images/blog/shutterstock-mcdonalds-big-mac-archivo-1234.jpg);
}

.blog.cover6 {
  background-image: url(../images/blog/ikea-third-party-retail-websites-e1513609708935.jpg);
}

.blog.cover7 {
  background-image: url(../images/blog/jeffrey-herlings-racing-to-victory-in-red-bull-knock-out-2016.jpg);
}

.blog.cover8 {
  background-image: url(../images/blog/HP-Spectre.jpg);
}

.blog.cover9 {
  background-image: url(../images/blog/absolut-vodka.jpg);
}

.blog.cover10 {
  background-image: url(../images/blog/Martini_131.jpg);
}

.blog.cover11 {
  background-image: url(../images/blog/20170811-oreos-vicky-wasik-3.jpg);
}

.blog.cover12 {
  background-image: url(../images/blog/apple_new_store_visual_identity_campaign_the_branding_journal_5.jpg);
}

.blog-footer {
  position: relative;
  top: 50px;
  border-top: 3px solid gray;
  margin: 0 auto;
  max-width: 1200px;
}

.blog-footer p {
  padding: 50px 0 50px 0;
}

/*# sourceMappingURL=all.css.map */
