@font-face {
      font-family: "gotham-light";
      src: url("../CSS/fonts/Gotham-Light.otf");
  }
  .body{
      margin: 0;
      padding: 0;
      font-family: "gotham-light";
  }
.informacion{
    margin: 0 auto;
    width: 80vw;
    height: 50px;
      ul{
        margin-top:0;
        padding: 0;
        li{
            margin-top: 14px;
            display: inline-block;
            font-size: 14px;
            padding-right: 40px;
        }
    }
}

.next{
    position: relative;
    background-color: $primary-color;
    text-align: left;
    left: 340px;
    cursor: pointer;
    width: $next-navigation-medium; 
    height: $next-navigation-medium;
    border-top-right-radius: 20%;
    transform: rotate(30deg) skewX(-30deg) scale(1,.866);
    &.navigation{
        opacity: 0;
        transition: .3s;
        position: absolute;
        width: $next-navigation-small;
        height: $next-navigation-small;
        left: -4px;
        top: -2px;
        transform: rotate(75deg) skewX(-30deg) scale(1, 0.866);
        
        &::after{
            width: $next-navigation-small;
            height: $next-navigation-small;
        }
        &::before{
            width: $next-navigation-small;
            height: $next-navigation-small;
        }
    }
    &::before{
        content: '';
        position: absolute;
        background-color: inherit;
        width: $next-navigation-medium;
        height: $next-navigation-medium;
        border-top-right-radius: 20%;
        transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    }
    &::after{
        content: '';
        position: absolute;
        background-color: inherit;
        width: $next-navigation-medium;
        height: $next-navigation-medium;
        border-top-right-radius: 20%;
        transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    }
}

.header{
    max-width: 80vw;
    height: 200px;
    background-color: $secondary-color;
    margin: 0 auto;
    position: relative;
    .mastografia{
        position: relative;
        max-width: 1450px;
        height: 100%;
        display: grid;
        color: $color-letra;
        margin: 0 auto;
        grid-gap: .2rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 100%;
        grid-template-areas: 
            "es-1 es-2 es-3 es-4 es-5 es-6";
        .estudio{
            position: relative;
            width: 110px;
            height: 110px;
            padding: 10px;
            top: 17%;
            left: 27%;
            transition: .3s;
            border-radius: 50%;
            transform: rotate(-45deg);
            border-top: $grosor-borde-nav solid $mastografia-color;
            border-right: $grosor-borde-nav solid $mastografia-color;
            border-bottom: $grosor-borde-nav solid $primary-color;
            border-left: $grosor-borde-nav solid $primary-color;
            img{
                transform: rotate(45deg);
            }
            &:hover{
                transform: scale(1.1)rotate(-45deg);
                transition: .3s;
            }
        }
    }
    .punto-revision{
        max-width: 80vw;
        height: 70px;
        margin: 0 auto;
        background-color: $mastografia-color;
        position: relative;  
        div{
            text-align: center;
            color: $color-letra;
            font-size: 24px;
            position: relative;
            top: 20px;
            font-weight: bold;
        }  
    }
    .lado-mama{
        width: 60px;
        height: -webkit-calc(100% + 70px);
        background-color: $primary-color;        
        position: absolute;
        right: 0;
        top: 0;
        div{
            color: $color-letra;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 125px;
            left: -40px;
            white-space: nowrap;
            font-weight: bold;
        }
    }
}
.estudio-body{
    width: 80vw;
    height: 600px;
    margin: 0 auto;
    .cards{
        position: relative;
        top: 220px;
        margin: 0 auto;
        width: 805px;
        .card-individual{
            position: relative;
            margin: 0 50px 0 50px;
            display: inline-block;
            width: 300px;
            height: 300px;
            background-color: $secondary-color;
            border-radius: 20px;
            white-space: nowrap;
            box-shadow: 6px 6px 9px #80808059;
            .numero-opcion{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $primary-color;
                position: absolute;
                text-align: center;
                line-height: 30px;
                left: 15px;
                top: 15px;
                color: #fff;
            }
            .card-respuesta{
                text-align: center;
                color: $mastografia-color;
                position: relative;
                top: 100px;
            }
            .card-respuesta::before{
                content: "";
                width: 50%;
                height: 2px;
                background-color: $primary-color;
                position: absolute;
                top: 50px;
                left: 25%;
            }
            .selecc{
                position: absolute;
                top: 190px;
                text-align: center;
                width: 300px;
                font-size: 16px;
            }
        }
    }
}
