@font-face {
    font-family: 'Lobster';
    src: url('font/Lobster-Regular.ttf');    
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    /* color: #fff; */
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Lobster', cursive;
}
body::-webkit-scrollbar {
    width: 8px;
    background-color: #FFFFFF;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    outline: 1px solid rgba(0,0,0,0.2);
}
.header{ 
    position: relative;
    padding-top: 0;
    width: 100vw;
    height: 40px;
    color: rgb(104, 104, 104);
}
.menu{
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
    vertical-align: middle;
}
.container-fluid{
    width: 95%!important;
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
.menu ul li{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    transition: .3s;
}
.menu li:hover{
    background-color: rgb(221, 221, 221);
    transition: .3s; 
}
.banner{
    width: 100vw;
    height: calc(100vh - 165px);
    background-image: url(../images/banner-gde.png);
    background-size: cover;
    overflow-y: hidden;
}
.list-product{
    position: sticky;
    text-align: center;
    z-index: 1;    
    top: 0;
    left: 0;;
    width: 100vw;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.list-product .options-menu{
    font-size: 1em;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    transition: .3s;
}
.list-product .options-menu li{
    padding: 5px;
    margin: 5px 30px 5px 30px;
    cursor: pointer;
}
.list-product .options-menu li img{
    width: 90px;
}
.section{
    background-color: #EC502C;    
}
.section.blue{
    background-color: #4B61A0;
}
.section.green{
    background-color: #2F895A;
}
.section h1{
    color: #fff;
    margin: 20px auto 20px auto;
}
.main-wrapper{
    width: 100vw;
    overflow: hidden; 
}
.catalog{
    width: 100%;
    margin-top: 65px;
}
.card{
    margin: 10px 0 10px 0;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.4);
    cursor: pointer;
    height: 280px;
    transition: all .2s;
    text-align: center;
    background: radial-gradient(ellipse at center, #ffa947 1%,#ea421c 100%);
}
.card.azul{
    background: radial-gradient(ellipse at center, #7BADDB 1%,#4B61A0 100%);
    color: #4B61A0;
}
.azul div{
    color: #4B61A0;
}
.card.verde{
    background: radial-gradient(ellipse at center, #75D8A2 1%,#2F895A 100%);
    color: #2F895A;
}
.verde div{
    color: #2F895A;
}
.card:hover{
    transition: all .2s;
    background-color: rgba(111,107,107,.04);
    transform: scale(1.03);
}
.card img{
    height: 270px;
}
.info{    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    position: relative;
    background-color: #EFEFEF;
    color: #ec502c;
    padding: 20px;
}
.info::after{
    content: '';
    width: 0;
    position: absolute;
    height: 0;
    top: -20px;
    right: 0px;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #EFEFEF;
}
.info .title{
    font-family: 'Lobster';
    font-size: 15px;
}
.info .content{
    font-family: 'Lobster';
    font-size: 20px;
}
.info .parent{
    font-size: 16px;
}
.info .foot{
    font-size: 15px;
}
footer{
    text-align: center;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #212121;
    height: 30px;
}
footer ul{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 1em;
    height: 100%;
    list-style: none;
    margin: 5px 0 0 20px;
    padding: 0;
    display: inline-flex;
    transition: .3s;
}
footer ul li{
    margin-left: 40px;
}
footer ul span{
    margin-left: 10px;
}
/*Clases de apoyo*/
.text-center{
    text-align: center;
}
@media only screen and (max-width: 1921px) {
    .banner{
        background-image: url(../images/banner-gde.png);
    }
}
@media only screen and (max-width: 668px) {
    .banner{
        background-image: url(../images/banner-mobile.png);
    }
}
@media only screen and (max-width: 452px) {

    .list-product .options-menu li{        
        margin: 5px 20px 5px 20px;
    }
    .list-product .options-menu li img{
        width: 70px;
    }
}