
//animacion welcome
@keyframes icon-hi-animation{
    0%{
        top: 40px;
        transform: rotate(-15deg);
    }
    20%{
        top: 50px;
    }
    60%{
        top: 40px;
        transform: rotate(15deg);
    }
    80%{
        top: 50px;
        transform: rotate(0deg);
    }
    100%{
        top: 40px;
        transform: rotate(-15deg);
    }
}
@keyframes slide-welcome{
    0%{
        top: 200px;
        opacity: 0;
    }
    100%{
        top: 70px;
    }
}
@keyframes slide-comenzar{
    0%{
        top: 200px;
        opacity: 0;
    }
    50%{
        top: 150px;
        opacity: 0;
    }
    100%{
        top: 95px;
    }
}

//animacion triangulo
.triangle-indicate{
    opacity: 1!important;
    transition: .3s;
    animation: triangle-indicate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes triangle-indicate{
    0%{
        left: -4px;
        top: -2px;
    }
    50%{
        left: -17px;
        top: -19px;
    }
    100%{
        left: -4px;
        top: -2px;
    }
}