$grosor-borde-nav: 2px;
$color-letra: #FFF;
$primary-color: #5BBCBC;
$secondary-color: #EDEDED;
$mastografia-color: #E75280;
$mastografia-color-light: lighten($mastografia-color, 15%,);
$mastografia-color-dark: darken($mastografia-color, 15%);
$grosor-borde-nav: 4px;


//menu de navegacion
$next-navigation-small: 15px;
$next-navigation-medium: ($next-navigation-small * 2);