.sb-1{
    position: relative;
    grid-area: sa-1;
    background-image: $s-2-1;
    background-size: cover;
}
.sb-2{
    position: relative;
    grid-area: sa-2;
    background-image: $s-2-2;
    background-size: cover;
}
.sb-3{
    position: relative;
    grid-area: sa-3;
    background-image: $s-2-3;
    background-size: cover;
}
.sb-4{
    position: relative;
    grid-area: sa-4;
    background-image: $s-2-4;
    background-size: cover;
}
.sb-5{
    position: relative;
    grid-area: sa-5;
    background-image: $s-2-5;
    background-size: cover;
}
.sb-6{
    position: relative;
    grid-area: sa-6;
    background-image: $s-2-6;
    background-size: cover;
}
.sb-7{
    position: relative;
    grid-area: sa-7;
    background-image: $s-2-7;
    background-size: cover;
}